<h2>{{subject}}</h2>

<table>
  <tr>
    <td class="tbl-col-1">From:</td>
    <td>{{fromAddress}}</td>
  </tr>
  <tr>
    <td class="tbl-col-1">To:</td>
    <td>{{toAddress}}</td>
  </tr>
  <tr>
    <td class="tbl-col-1">Message:</td>
    <td>{{body}}</td>
  </tr>
</table>
<br />

<button {{action 'delete'}} class="btn btn-danger btn-xs">
  Delete Message
</button>
